/* unique content */
.mainDiv {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.title {
    font-size: 10vh;
    padding-top: 15vh;
    padding-bottom: 4vh;
    background-color: #00447c;
}
.prjct_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vh;    
}




.prjct {
    /* border: 2px solid #00447c; */
    border-radius: 1vh;

    background-color: #eaeaea;

    /* display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-gap: 5vh;   */
}





/* unique content */