html {
	background: #eaeaea;
	font-size: 16px;
}
body {
	font-family: 'Signika Negative', sans-serif;
	background: #c6c3b6;
	margin: 0 auto;
    justify-content: center;
}

/* text-colors */
.d-a {color: #0c0c0c;}
.d-b {color: #002756;}
.d-c {color: #035b7a;}
.d-d {color: #c6c3b6;}
.d-e {color: #eaeaea;}

.l-a {color: #212121;}
.l-b {color: #00447c;}
.l-c {color: #0b7b9e;}
.l-d {color: #dddace;}
.l-e {color: #f2f3f4;}

/* font site them */
.font-lb {font-family: 'Libre Baskerville', serif;}

/* font site size  */



.col-md-4 > img {
    width: 140px;
    height: 140px;
}

/* navbar repeat */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #c6c3b6;
}

nav.navbar {
	background-color: #212121;
	position: fixed;
	z-index: 5;
	width: 100%;
}
/* navbar repeat */



.main, .not_main {
    padding-top: 70px;
}


.main_text {
    margin-top: 25%;
}

.main_grid {
    display: grid;

    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    margin: auto 10%;
}
.myposter {
	width: 435px;
	height: auto;
}



img.hi_text {
    width: 400px;
    height: auto;
}
.main_text h3 {
    color: #0b7b9e;
    font-size: 40px;
    padding: 0;
    margin-bottom: 8px;
    font-weight: bold;
}
.main_text h2 {
    color: #eaeaea;
    font-size: 40px;
    padding: 0;
    margin-top: -3px;
    font-weight: bold;
}
.main_text p {
    margin-top: -9px;
}



.main_grid_reverse {
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    margin: 0 6%;
}

.mainreverse_text p {
    margin: 20px;
    text-align: right;
}
.mainreverse_text p.reverse_text {
	margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #212121;
    text-align: right;
    color: #eaeaea;    
}

.mainreverse_text h2 {
    font-size: 25px;
    text-align: right;
    margin: 0 20px;
}

h2.about_title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.mainreverse_text {
    justify-self: end;
    text-align: right;
}


/* modal css */
.contact_main {
    grid-row: content;
    grid-column: content;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}
.contactItem {

}
.social_main {
    grid-row: content;
    grid-column: content;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}
.socialItem img {
    width: 40%;
    height: auto;
}
.socialItem {
    width: fit-content;
}

.body_title {
    font-size: 18px;
}
.iconTouch {
    width: 50%;
    height: auto;
}
.iconTact {
    width: 55%;
    height: auto;    
}
/* .iconSocial {
    width: 45%;
    height: auto;
} */
.modal-main {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.modal {
    --bs-modal-width: 70%;
}

.modal-content {
	color: #f2f3f4;
	background: #212121;
}




.edu_main_title {
    font-size: 32px;
    margin-top: 5%; 
}
.edu h2 {
    font-size: 16px;
    margin-bottom: -5px;
    text-align: left;
}
.edu {
    color: #eaeaea;
}

.edu ul {
    list-style-type: none;
    padding: 0;    
}

.edu ul li {
    background-color: #212121;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.edu ul li h3 {
    font-size: 18px
}
.edu ul li h4 {
    font-size: 16px
}

.course_list, ul li p a {
    text-decoration: none;
    color: inherit;
    border: 2px solid #0b7b9e;
    background-color: #0b7b9e;
    width: fit-content;
    padding: 05px;
    border-radius: 5px;
    font-size: 12px;
}