body {
	font-family: 'Signika Negative', sans-serif;
	font-size: 15px;
	background: #eaeaea;
}

body, ul {
		margin: 0;
		padding: 0;
}

h1, h2, .names {
	font-family: 'Libre Baskerville', serif;
}

img {
	max-width: 100%;
}

nav {
	background-color: #212121;
	position: fixed;
	z-index: 5;
	width: 100%;
}
img.nav_logo {
    margin-right: 250px;
    margin-top: -25px;
    margin-bottom: -21px;
}

nav ul li {
	display: inline-block;
	margin: 0 40px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
}

nav ul li a{
    border: 0px solid #035b7a;
    text-decoration: none;
    color: #c6c3b6;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
}
nav ul li a:hover {
	background: #dddace;
	color: #00447c;
	font-weight: bold;
}

nav ul {
	margin: 0 auto;
	text-align: center;
	padding: 25px;
}




header {
    top: 72px;
    position: relative;
    margin-bottom: 70px;
    background-image: url(images/backgroundblue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -187px;
}

.course {
    margin-bottom: 10px;
}

.school {
    margin-top: 0px;
}

.buttoncv {
    border: 2px solid #00447c;
    text-decoration: none;
    color: #c6c3b6;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
}
.buttoncv:hover {
	background: #0b7b9e;
	color: #f2f3f4;
}


.container > div {
	max-width: 20px auto;
}

.container {
	max-width: 850px;
	margin: 0 auto;
}

.intro {
	text-align: center;
}

.intros {
	display:grid;
	grid-template-columns: 100%;
	text-align: center;
}

.objective {
	text-align: center;
	color: black;
}

.about-list {
	list-style: none;
}



/*newlinw*/
.menu {
    width: 100%;
	background-image: linear-gradient(to bottom, #eaeaea, #0b7b9e, #035b7a, #00447c,#002756, #212121);
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
}

.project-heading {
    text-align: center;
    font-size: 25px;
    margin-top: 62px;
    margin-bottom: 30px;
}

.project-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-image-wrapper {
    justify-self: center;
    padding: 40px;
    position: relative;
}


.project-image {
	border-radius:5px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
	transition: all ease-in-out .2s;
}

.project-image:hover {
	filter: brightness(.75);
	box-shadow:0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.project-image-wrapper:hover > h4 {
	visibility: visible;
}

.project-image-wrapper >h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index:2;
	transition: all ease-in-out .2s;
	text-align: center;
}


/*new line*/
 hr {
 	border: 0;
 	height:1px;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 }
.links-and-contacts {
	display:grid;
	grid-template-columns: 100%;
	list-style:none;
	margin-top: -40px;

}

.links-and-contacts a {
    text-align: center;
    text-align: center;
    margin: 40px auto;
}



.links {
	justify-self: center;
    margin: -26px 0px;
    padding: 0;
    margin-bottom: -70px;

}

.links ul li {
    display: inline-block;
    margin: 20px 25px;
    padding: 0;
	font-size: 17px;
}

.links ul li a {
	size: 50px;
	color: #eaeaea;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
}

.contact {
	justify-self: left;
    margin: -23px -16px;
    padding: 0;
}

.endline {
    border: 0;
    height: 10px;
    c
}

 .container.end {
 	background-color: #212121;
	font-family: 'Libre Baskerville', serif;
    max-width: 100%;
    padding-top: 85px;
    padding-bottom: 30px;
    color: #eaeaea;
}

footer {
	width: 100%;
    text-align: center;
}

footer p {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 50px;
    padding: 25px;
    letter-spacing: 0.3px;
	font-size: .75em;
    color: #eaeaea;

}

.link-list {
	list-style:none;
	padding:0;
}



.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;
    margin-top: 90px;
}

.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}


.ucs {
	background-color: white;
}

/*screen size below 1201 pixels */
@media (max-width:1241px) {
	img.nav_logo {
	    margin-left: -9px;
	    margin-bottom: -20px;
	}

	nav {
		background-color: #212121;
	}

	nav ul li {
		display: inline-block;
	    margin: 23px 35px;
	    margin-top: 17px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 15px;
	}

	nav ul {
		text-align: center;
	    padding: 0px;
	}

	.links ul li {
    display: inline-block;
    margin: 12px 0px;
    padding: 0;
	}
	li.copyr {
	    margin-right: 300px;
	}

	li.fmail {
	    margin-left: 300px;
	}


}

@media (max-width:1122px) {
		img.nav_logo {
	    margin-left: -17px;
	    margin-bottom: -20px;
	}

	nav {
		background-color: #212121;
	}

	nav ul li {
	    margin: 2.8% 0.3%;
	    margin-top: 17px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 15px;
	}

}

@media (max-width:801px) {
	img.nav_logo {
		margin-left: -165px;
	    margin-bottom: -60px;
	}

	nav {
		background-color: #212121;
	}

	nav ul li {
	    margin: 12px 40px;
	    margin-top: 0px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 12px;
	    width: 25%;
	}

	nav ul {
		text-align: center;
	    padding: 0px;
	}

	.links ul li {
    display: inline-block;
    margin: 12px 0px;
    padding: 0;
	}
	li.copyr {
	    margin-right: 150px;
	}

	li.fmail {
	    margin-left: 150px;
	}


}

@media (max-width:770px) {
	.project-grid {
	    display: grid;
	    grid-template-columns: 100%;
	}
	img.nav_logo {
	    margin-left: 40px;
	    margin-bottom: -20px;
	}


	nav ul li {
	    margin: 31px -21px;
	    margin-top: 10px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 10px;
	    width: 20%;
	}

	nav ul li a {
    border: 0px solid #035b7a;
    text-decoration: none;
    color: #c6c3b6;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
	}

	nav ul {
	    text-align: center;
	    padding: 0px;
	}

	.links-and-contacts {
	    display: grid;
    	grid-template-columns: 100%;
		}	
	.links {
		justify-self: center;
    	padding: 0;
    	margin-bottom: 20px;
	}

	.links ul li {
	    margin-top: 28px;	
	}
	.contact {
		justify-self: center;
    	padding: 0;	


    .buttoncv {
    border: 1.5px solid #00447c;
    color: #c6c3b6;
    padding: 1px 5px;
    margin-top: -25px;
    border-radius: 20px;
    
	}
	}
	footer ul {
	    margin: 0px auto;
	    text-align: center;
	    padding: 25px;
	}

	footer ul li {
		font-size: 10px;
	}	

	li.copyr {
	    margin-right: 45px;
	}

	li.fmail {
	    margin-left: 45px;
	}




}

@media (max-width:601px) {
	img.nav_logo {
		margin-left: 8px;
	    margin-bottom: -23px;
	}
	li.empty {
    display: none;
	}
	nav ul li {
	    margin: 25px -5px;
	    margin-top: 18px;
	    text-transform: uppercase;
	    letter-spacing: 0px;
	    font-size: 10px;
	    width: 20%;
	}
	nav ul li a {
    border: 0px solid #035b7a;
    text-decoration: none;
    color: #c6c3b6;
    border-radius: 9px;
    transition: background 0.5s ease-in-out, color 0.5s;
	}

	.buttoncv {
	    border: .5px solid #00447c;
	    font-size: 8px;
	    margin-top: 0px;
	}
	header {
    top: 50px;
	}

	li.copyr {
    margin-right: 20px;
	}
	li.fmail {
	    margin-left: 20px;
	}

	.links ul li {
	    margin-top: 20px;
	}

	.links ul li a img {
		height: 60px;
	}



}