 body {
	font-family: 'Signika Negative', sans-serif;
	font-size: 15px;
	background: #eaeaea;
}

body, ul {
		margin: 0;
		padding: 0;
}

h1, h2, .names {
	font-family: 'Libre Baskerville', serif;
}

img {
	max-width: 100%;
}
/* common css */
.bg-1-a {background-color: #212121;}
/* text-colors */
.d-a {color: #0c0c0c;}
.d-b {color: #002756;}
.d-c {color: #035b7a;}
.d-d {color: #c6c3b6;}
.d-e {color: #eaeaea;}

.l-a {color: #212121;}
.l-b {color: #00447c;}
.l-c {color: #0b7b9e;}
.l-d {color: #dddace;}
.l-e {color: #f2f3f4;}

/* font site them */
.font-lb {font-family: 'Libre Baskerville', serif;}

.btn-outline-sblue {
    --bs-btn-color: #eaeaea;
    --bs-btn-border-color: #00447c;
    --bs-btn-hover-color: #eaeaea;
    --bs-btn-hover-bg: #0b7b9e;
    --bs-btn-hover-border-color: #00447c;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00447c;
    --bs-btn-active-border-color: #00447c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #00447c;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #00447c;
    --bs-gradient: none;
}

/* navbar repeat */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #c6c3b6;
}

nav.navbar {
	background-color: #212121;
	position: fixed;
	z-index: 5;
	width: 100%;
}
/* navbar repeat */


/* modal css */
.contact_main {
    grid-row: content;
    grid-column: content;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}
.contactItem img, .iconTouch{
    width: 8vh;
    height: auto;  
}
.iconTouch{

    vertical-align: start;    
}
.social_main {
    grid-row: content;
    grid-column: content;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}
.socialItem img {
    width: 9vh;
    height: auto;
}


.body_title {
    font-size: 18px;
}
.modal-content .body_title {
    margin-top: 10%;
    margin-bottom: 5%;
}

.modal-main {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.modal {
    --bs-modal-width: 70%;
}

.modal-content {
	color: #f2f3f4;
	background: #212121;
}
.aline_two {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr; 
    align-items: center;  
}
.v_2row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    align-items: center;     
}

.icon_btn {
	border: none;
	transition: all ease-in-out .2s;
    background-color: transparent; 
    color: #3498db; 
    font-size: 1.5em; 
}

.icon_btn:hover {
	filter: brightness(.75);
}
.text_fader:hover > h5 {
	visibility: visible;
}
.text_fader >h5 {
    position: absolute;
    font-size: 3vh;
    transform: translate(-50%, -50%);
    color: #eaeaea;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2s;    
} 


.footer_align {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr; 
    text-align: center;
    justify-items: center;     
}
hr {
    opacity: 100%;
}
.endline {
    border: 0;
	margin: 7px 0;
    height: 10px;
    background-image: linear-gradient(to right, #00447c, #212121, #0b7b9e);
}
.container_end {
    background-color: #212121;
	font-family: 'Libre Baskerville', serif;
    color: #eaeaea;
    padding-top: 5vh;
    padding-bottom: 3vh;    
}
/* common css */









.introduction {
    top: 70px;
    position: relative;
    margin-bottom: 70px;
    background-image: url(images/backgroundblue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -187px;
}

.course {
    margin-bottom: 10px;
}

.school {
    margin-top: 0px;
}

.buttoncv {
    border: 2px solid #00447c;
    text-decoration: none;
    color: #c6c3b6;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
	transition: background 0.5s ease-in-out, color 0.5s;
}
.buttoncv:hover {
	background: #0b7b9e;
	color: #f2f3f4;
}


.container > div {
	max-width: 20px auto;
}

.container {
	max-width: 850px;
	margin: 0 auto;
}

.intro {
	text-align: center;
}

.intros {
	display:grid;
	grid-template-columns: 100%;
	text-align: center;
}

.objective {
	text-align: center;
	color: black;
}

.about-list {
	list-style: none;
}



/*newlinw*/
.menu {
    width: 100%;
	background-image: linear-gradient(to bottom, #eaeaea, #0b7b9e, #035b7a, #00447c,#002756, #212121);
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
}

.project-heading {
    text-align: center;
    font-size: 25px;
    margin-top: 62px;
    margin-bottom: 30px;
}

.project-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-image-wrapper {
    justify-self: center;
    padding: 40px;
    position: relative;
}


.project-image {
	border-radius:5px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
	transition: all ease-in-out .2s;
}

.project-image:hover {
	filter: brightness(.75);
	box-shadow:0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.project-image-wrapper:hover > h4 {
	visibility: visible;
}

.project-image-wrapper >h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index:2;
	transition: all ease-in-out .2s;
	text-align: center;
}


/*new line*/
 hr {
 	border: 0;
 	height:1px;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 }
.links-and-contacts {
	display:grid;
	grid-template-columns: 100%;
	list-style:none;
	margin-top: -40px;

}

.links-and-contacts a {
    text-align: center;
    text-align: center;
    margin: 40px auto;
}



.links {
	justify-self: center;
    margin: -26px 0px;
    padding: 0;
    margin-bottom: -70px;

}

.links ul li {
    display: inline-block;
    margin: 20px 25px;
    padding: 0;
	font-size: 17px;
}

.links ul li a {
	size: 50px;
	color: #eaeaea;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
}

.contact {
	justify-self: left;
    margin: -23px -16px;
    padding: 0;
}


 .container.end {
 	background-color: #212121;
	font-family: 'Libre Baskerville', serif;
    max-width: 100%;
    padding-top: 85px;
    padding-bottom: 30px;
    color: #eaeaea;
}

footer {
	width: 100%;
    text-align: center;
}

footer p {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 50px;
    padding: 25px;
    letter-spacing: 0.3px;
	font-size: .75em;
    color: #eaeaea;

}

.link-list {
	list-style:none;
	padding:0;
}



.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;
    margin-top: 90px;
}

.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}


.ucs {
	background-color: white;
}

/*screen size below 1201 pixels */
/* @media (max-width:1241px) {
	img.nav_logo {
	    margin-left: -9px;
	    margin-bottom: -20px;
	}

	nav {
		background-color: #212121;
	}

	nav ul li {
		display: inline-block;
	    margin: 23px 35px;
	    margin-top: 17px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 15px;
	}

	nav ul {
		text-align: center;
	    padding: 0px;
	}

	.links ul li {
    display: inline-block;
    margin: 12px 0px;
    padding: 0;
	}
	li.copyr {
	    margin-right: 300px;
	}

	li.fmail {
	    margin-left: 300px;
	}


} */

/* @media (max-width:1122px) {
		img.nav_logo {
	    margin-left: -17px;
	    margin-bottom: -20px;
	}

	nav {
		background-color: #212121;
	}

	nav ul li {
	    margin: 2.8% 0.3%;
	    margin-top: 17px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 15px;
	}

} */

/* @media (max-width:801px) {
	img.nav_logo {
		margin-left: -165px;
	    margin-bottom: -60px;
	}

	nav {
		background-color: #212121;
	}

	nav ul li {
	    margin: 12px 40px;
	    margin-top: 0px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 12px;
	    width: 25%;
	}

	nav ul {
		text-align: center;
	    padding: 0px;
	}

	.links ul li {
    display: inline-block;
    margin: 12px 0px;
    padding: 0;
	}
	li.copyr {
	    margin-right: 150px;
	}

	li.fmail {
	    margin-left: 150px;
	}


} */

/* @media (max-width:770px) {
	.project-grid {
	    display: grid;
	    grid-template-columns: 100%;
	}
	img.nav_logo {
	    margin-left: 40px;
	    margin-bottom: -20px;
	}


	nav ul li {
	    margin: 31px -21px;
	    margin-top: 10px;
	    padding: 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 10px;
	    width: 20%;
	}

	nav ul li a {
    border: 0px solid #035b7a;
    text-decoration: none;
    color: #c6c3b6;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
	}

	nav ul {
	    text-align: center;
	    padding: 0px;
	}

	.links-and-contacts {
	    display: grid;
    	grid-template-columns: 100%;
		}	
	.links {
		justify-self: center;
    	padding: 0;
    	margin-bottom: 20px;
	}

	.links ul li {
	    margin-top: 28px;	
	}
	.contact {
		justify-self: center;
    	padding: 0;	


    .buttoncv {
    border: 1.5px solid #00447c;
    color: #c6c3b6;
    padding: 1px 5px;
    margin-top: -25px;
    border-radius: 20px;
    
	}
	}
	footer ul {
	    margin: 0px auto;
	    text-align: center;
	    padding: 25px;
	}

	footer ul li {
		font-size: 10px;
	}	

	li.copyr {
	    margin-right: 45px;
	}

	li.fmail {
	    margin-left: 45px;
	}




} */

/* @media (max-width:601px) {
	img.nav_logo {
		margin-left: 8px;
	    margin-bottom: -23px;
	}
	li.empty {
    display: none;
	}
	nav ul li {
	    margin: 25px -5px;
	    margin-top: 18px;
	    text-transform: uppercase;
	    letter-spacing: 0px;
	    font-size: 10px;
	    width: 20%;
	}
	nav ul li a {
    border: 0px solid #035b7a;
    text-decoration: none;
    color: #c6c3b6;
    border-radius: 9px;
    transition: background 0.5s ease-in-out, color 0.5s;
	}

	.buttoncv {
	    border: .5px solid #00447c;
	    font-size: 8px;
	    margin-top: 0px;
	}
	header {
    top: 50px;
	}

	li.copyr {
    margin-right: 20px;
	}
	li.fmail {
	    margin-left: 20px;
	}

	.links ul li {
	    margin-top: 20px;
	}

	.links ul li a img {
		height: 60px;
	} */




/* different device sizes */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {


	/* common css at sm devices */
	.footer_align {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-gap: 1vh;    
	}
	.container_end {
		padding-top: 1vh;
		padding-bottom: 1vh;
	}
}

}