body {
	font-family: 'Signika Negative', sans-serif;
	font-size: 15px;
	background: #eaeaea;
}

body, ul {
		margin: 0;
		padding: 0;
}

h1, h2, .names {
	font-family: 'Libre Baskerville', serif;
}

img {
	max-width: 100%;
}

nav {
	background-color: #212121;
	position: fixed;
	z-index: 5;
	width: 100%;
}
img.nav_logo {
    margin-right: 250px;
    margin-top: -25px;
    margin-bottom: -21px;
}

nav ul li {
	display: inline-block;
	margin: 0 40px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
}

nav ul li a{
    border: 0px solid #035b7a;
    text-decoration: none;
    color: #c6c3b6;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
}
nav ul li a:hover {
	background: #dddace;
	color: #00447c;
	font-weight: bold;
}

nav ul {
	margin: 0 auto;
	text-align: center;
	padding: 25px;
}




header {
    top: 72px;
    position: relative;
    margin-bottom: 70px;
    background-image: url(images/backgroundblue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -187px;
}

.course {
    margin-bottom: 10px;
}

.school {
    margin-top: 0px;
}

.buttoncv {
    border: 2px solid #00447c;
    text-decoration: none;
    color: #c6c3b6;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
}
.buttoncv:hover {
	background: #0b7b9e;
	color: #f2f3f4;
}


.container > div {
	max-width: 20px auto;
}

.container {
	max-width: 850px;
	margin: 0 auto;
}

.intro {
	text-align: center;
}

.intros {
	display:grid;
	grid-template-columns: 100%;
	text-align: center;
}

.objective {
	text-align: center;
	color: black;
}

.about-list {
	list-style: none;
}

@media (max-width:480px) {
	.intros {
		grid-template-columns: 100%;
	}
}

/*newlinw*/
.menu {
    width: 100%;
	background-image: linear-gradient(to bottom, #eaeaea, #0b7b9e, #00447c);
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
}

.project-heading {
    text-align: center;
    font-size: 25px;
    margin-top: 62px;
    margin-bottom: 30px;
}

.project-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-image-wrapper {
    justify-self: center;
    padding: 40px;
    position: relative;
}


.project-image {
	border-radius:5px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
	transition: all ease-in-out .2s;
}

.project-image:hover {
	filter: brightness(.75);
	box-shadow:0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.project-image-wrapper:hover > h4 {
	visibility: visible;
}

.project-image-wrapper >h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index:2;
	transition: all ease-in-out .2s;
}

@media (max-width: 650px) {
	.project-grid {
		grid-template-columns: 100%;
	}
}
/*new line*/


.links-and-contacts {
	display:grid;
	grid-template-columns: 60% 40%;
}

.links {
	justify-self: center;
    margin: -26px 0px;
    padding: 0;

}

.links ul li {
    display: inline-block;
    margin: 20px 25px;
    padding: 0;
}

.links ul li a img {
	size: 50px;
    border: 0px solid #035b7a;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: -25px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s;
}

.contact {
	justify-self: left;
    margin: -23px -16px;
    padding: 0;
}




.link-list {
	list-style:none;
	padding:0;
}

@media (max-width:650px) {
	.links-and-contacts{
		grid-template-columns: 100%;
	}
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;
    margin-top: 90px;
}

.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}

 form input, textarea {
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    color: #0b7b9e;
    background-color: #eaeaea;
    border: 3px solid #00447c;
 }

form {
	width: 250px;
	margin: 0 auto;
}
 form input[type="submit"] {
    width: 250px;
    color: #eaeaea;
    background-color: #0b7b9e;
    border: 2px solid #00447c;
 }

 .submit-button-wrapper {
 	margin: 20px 0;
 }

 hr {
 	border: 0;
 	height:1px;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 }
.endline {
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, #00447c, #212121, #0b7b9e);
}

 .container.end {
    max-width: 100%;
    background-color: #212121;
    padding-top: 60px;
    padding-bottom: 30px;
}


h3 {
	font-family: 'Libre Baskerville', serif;
	color: #eaeaea;
	font-size: 15px;
}

.links h3 {
    margin: 0px 15px;
    padding: 15px;
}






footer {
	background-color: #212121;
	width: 100%;
}

footer ul {
    margin: 0px auto;
    text-align: center;
    padding: 25px;
}

li.copyr {
    padding-right: 850px;
}

footer ul li {
    display: inline-block;
    margin: 0px 0px;
    padding: 0px;
    letter-spacing: 0.3px;
    font-size: 12px;
    color: #eaeaea;
}

.ucs {
	background-color: white;
}



