/* unique content */
.mainDiv {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.title {
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #0c0c0c,
      -1px -1px 0 #0c0c0c,  
       1px -1px 0 #0c0c0c,
       -1px 1px 0 #0c0c0c,
        1px 1px 0 #0c0c0c;


    font-size: 10vh;
    padding-top: 15vh;
    padding-bottom: 8vh;
    background-image: url(../images/backgroundblue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -4vh;
}
.prjct_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vh;    
}




.prjct {
    /* border: 2px solid #00447c; */
    border-radius: 1vh;

    background-color: #eaeaea;

    /* display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-gap: 5vh;   */
}





/* RESPONSIVE DESIGN */
/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .prjct_main {
        grid-template-columns: 1fr;
    }
    .title {
        font-size: 3vh;
    }    
}